<app-nav></app-nav>
<ng-container>
  <!-- <div *ngIf='ownedArt.length > 0; else none' id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div  class="carousel-inner">
      <div *ngFor='let art of ownedArt'>
        <div class="carousel-item">
          <img [src]='art["url"]' class="d-block w-100" alt="owned-art">
        </div>
      </div>
      <div class="carousel-item active">
        <img src=" " class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src=" " class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="..." class="d-block w-100" alt="...">
      </div>
    </div>
    
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <ng-template #none>
    none owned
  </ng-template> -->
  <div *ngIf='ownedArt.length > 0; else none' id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div *ngFor='let art of ownedArt'>
      <img [src]='art["url"]' class="d-block w-100" alt="owned-art">
    </div>
  </div>
  <ng-template #none>
    none owned
  </ng-template>
  <button (click)='refreshOwnedArt()' class="btn btn-primary">test</button>
</ng-container>
