<app-nav></app-nav>
<div id="page">

 <ng-container *ngIf='this.populateArt.length > 0; else noArts'>
  <p>{{populateArt.length}} art pieces in collection.</p>

  <div *ngFor='let art of arts'>
    <hr>
    <p *ngIf='art["name"]'>Name: {{art["name"]}}</p>
    <p *ngIf='art["artist"]'>Artist: {{art["artist"]}}</p>
    <img [src]="art['url']">
</div>
       
    </ng-container>
    <ng-template #noArts>
        No Art yet.
    </ng-template>


<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src=" " class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src=" " class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="..." class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  </div>
