<app-nav></app-nav>
<div id="page">
    <div class="container">
        <hr>
        <div class="row">
            <h1 class="display-5">List Art for Auction</h1>
            <div class="col-8">
                <button (click)="createAuction()" type="button" class="btn" id="imgBtn">Create Auction</button>
            </div>
        </div>
        <ng-container>
            <app-auction-container [auctions]="auctions">
                <div  *ngFor='let auction of auctions'>
                    <app-auction [auction]="auction">
                        
                    </app-auction>
                </div>
            </app-auction-container>
        </ng-container>
    </div>
</div>