<app-nav></app-nav>
<div id="page">
    <div id="opt">
        <a class=" display-5" id="textH" data-bs-toggle="collapse" href="#multiCollapseExample1" role="button"
            aria-expanded="false" aria-controls="multiCollapseExample1">
            Current Auctions
        </a>
        <a class=" display-5 " id="textH" type="button" data-bs-toggle="collapse"
            data-bs-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">create
            An Auction
        </a>
    </div>
    <div class="row">
        <div class="col">
            <div class="collapse multi-collapse show" id="multiCollapseExample1">
                <div class="card card-body">
                    <app-auction [arts]="artsForSale"></app-auction>
                    <hr>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="collapse multi-collapse show" id="multiCollapseExample2">
                <div class="card card-body">
                    <button (click)="createAuction()" type="button" class="btn" id="imgBtn">Create Auction</button>

                </div>
            </div>

        </div>
    </div>