<app-nav></app-nav>
<div id="page">
    <div class="container">

        <div class="row" id="auct">
            <h1 class="display-5">Current Auction</h1>
            <div class="col-8">
                <img src="https://lh3.googleusercontent.com/pw/AM-JKLWo-7zWGMicgHixrG1J0yExjTDTzYMdlxYZEFKD4eQ02V-pXvYdRA7eSze--e8oFVbcZWGrB6vliiCsQdjEpmRzgy8V9_dub9Vt4llTFZlWHwG57DhVYTNHw9ocUzKx7m6RQEMaj7lFrzKJw8pcNOGlwLghYK6nkDd7YyvjKfP3CpbVn-anViOhz6acxB_KW8BvqV2lTJWwXK7U_bNNclbYgBYNvzYQzCFGSvA1KjiEenw_uAM7HjPCi_-qihT5t8NkElmbtT1KSHneBcKVC3l7NWN0nL454_t9sBSXu89aVct8htV18jUb6XIN7LhXXJhaIciakxkOVLastoS5JXEdKpjctfezKRwLqUu1pLuQ2RmZnm3-QtFQmjxPDN6docSR-GoRzh0-30KEq5KULq6Nuqo8FH-YSwCdTXGZoFCme4snBqXE4Bz8D755In0w-A1A5WNFhEPFoaAxScH0S2aWnxA57o8bAiHKlXBROpwN4OZcb4Rz3WcHYMbMVR0AjOZQeTLLrYO3Alg1MjE49IdN3URJTcoGQEeK25fLsKRTSdcrf-QBZQNY7auvjaGXaXeu3QMKCuA23A5KxxExu7vASIOCo8opvu8I39aPx7Ux_eo-LTWzYui_liMEeg-m1CxrXK_4AhO7Qc8g_zvHZ2UZX2BGMfYggGOScnk5fUMW-woBZFLh0ai_oHc9Ng1D8OOZD5UjvnP8UH0HyLlphurPIody6sQD2LdIujsssI73OXw=s657-no?authuser=0&authuser=0"
                    style="width: 50%; padding-top: 4rem;">
            </div>
            <div class="col">
                <div id="colu-top">
                    <h4 class="display-6">Art Name: Boy with A Ball </h4>
                    <h5 class="display-6">Artist: Patience Korrie </h5>
                    <p class="display-6">Current Bid: $200.00</p>
                    <button type="button" class="btn" id="imgBtn">End Auction</button>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <h1 class="display-5">Create An Auction</h1>
            <div class="col-8">
                <button type="button" class="btn" id="imgBtn">Retrieve Art</button>
                <button type="button" class="btn" id="imgBtn">Start Auction</button>
            </div>
        </div>
    </div>

</div>