  <hr>
  <div *ngIf='auction["art"]["url"]' class="col-8" >
    <img [src]='auction["art"]["url"]'>
  </div>
  <div *ngIf='auction["art"]["id"]' class="col">
    <div id="colu-top">
      <h4 class="display-6" *ngIf='auction["art"]["name"]'>Name: {{auction["art"]["name"]}}</h4>
      <h5 class="display-6" *ngIf='auction["art"]["artist"]'>Artist: {{auction["art"]["artist"]}}</h5>
      <p class="display-6">Highest Bid: {{auction["highestBid"]}}</p>
      <div class="input-group mb-3">
        <span class="input-group-text">$</span>
        <input [(ngModel)]="unsavedBid" name="unsavedBid" type="text" class="form-control" aria-label="Dollar amount (with dot and two decimal places)">
        <span (click)='placeBid(auction["art"]["id"])' type="button" class=" input-group-text" id="sub">
          Place Bid
        </span>
      </div>
    </div>
  </div>
